@{
    ViewData["Title"] = "Privacy Policy";
}
<main>
	<section>
		<div id='portfolio2'></div>
	</section>
</main>


<div class="container">
	<div class="portfolio-block">
		<div class="portfolio__item"><img class="portfolio__image wow flipInX" src="img/portfolio/family.png" alt="нет"></div>
		<div class="portfolio__item"><img class="portfolio__image wow flipInX" src="img/portfolio/family.png" alt="нет"></div>
		<div class="portfolio__item"><img class="portfolio__image wow flipInX" src="img/portfolio/family.png" alt="нет"></div>
	</div>
</div>

