<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Семейная фотосессия</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar">
	<div class="container">
		<div class="navbar-block">
			<div class="navbar__logo">
				<img src="img/11.jpg" alt="Logo">
			</div>
			<div class="navbar__info">
				<div class="navbar__contacts">
					<a href="C:/Users/User/Desktop/hw/lesson22/scr/index.html #" class="nav__link">Главная</a>
					<a href="C:/Users/User/Desktop/hw/lesson22/scr/index.html #services" class="nav__link">Услуги</a>
					<a href="C:/Users/User/Desktop/hw/lesson22/scr/index.html #portfolio" class="nav__link">Портфолио</a>

					<a href="C:/Users/User/Desktop/hw/lesson22/scr/index.html #contacts" class="nav__link">Контакты</a>
					<a href="C:/Users/User/Desktop/hw/lesson22/scr/index.html #booking" class="nav__link">Бронь</a>
				</div>
			</div>
		</div>
	</div>
</nav>

	<div class="container">
		<div class="portfolio-block">
				<div class="portfolio__item"><img class="portfolio__image wow flipInX" src="img/portfolio/marry.png" alt="нет"></div>
				<div class="portfolio__item"><img class="portfolio__image wow flipInX" src="img/portfolio/marry.png" alt="нет"></div>
				<div class="portfolio__item"><img class="portfolio__image wow flipInX" src="img/portfolio/marry.png" alt="нет"></div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="js/modal.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.maskedinput.min.js"></script>
</body>
</html>